USE [Construtora]
GO
/****** Object:  Table [dbo].[TB_CIDADE]    Script Date: 22/05/2015 19:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CIDADE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[EstadoID] [int] NULL,
 CONSTRAINT [PK_TB_CIDADE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PAIS]    Script Date: 22/05/2015 19:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PAIS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_TB_PAIS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ESTADO]    Script Date: 22/05/2015 19:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ESTADO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTB_PAIS] [int] NULL,
	[Name] [varchar](100) NULL,
	[UF] [varchar](2) NOT NULL,
 CONSTRAINT [PK_TB_ESTADO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_CIDADE] ON 

GO
INSERT [dbo].[TB_CIDADE] ([Id], [Name], [EstadoID]) VALUES (1100015, N'ALTA FLORESTA D OESTE', 11)
GO
INSERT [dbo].[TB_CIDADE] ([Id], [Name], [EstadoID]) VALUES (1100023, N'ARIQUEMES', 11)
GO
INSERT [dbo].[TB_CIDADE] ([Id], [Name], [EstadoID]) VALUES (1100031, N'CABIXI', 11)
GO
SET IDENTITY_INSERT [dbo].[TB_CIDADE] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_PAIS] ON 

GO
INSERT [dbo].[TB_PAIS] ([Id], [Name]) VALUES (1058, N'Brasil')
GO
SET IDENTITY_INSERT [dbo].[TB_PAIS] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_ESTADO] ON 

GO
INSERT [dbo].[TB_ESTADO] ([Id], [IdTB_PAIS], [Name], [UF]) VALUES (11, 1058, N'RONDONIA', N'RO')
GO
INSERT [dbo].[TB_ESTADO] ([Id], [IdTB_PAIS], [Name], [UF]) VALUES (12, 1058, N'ACRE', N'AC')
GO
INSERT [dbo].[TB_ESTADO] ([Id], [IdTB_PAIS], [Name], [UF]) VALUES (13, 1058, N'AMAZONAS', N'AM')
GO
SET IDENTITY_INSERT [dbo].[TB_ESTADO] OFF
GO
ALTER TABLE [dbo].[TB_CIDADE]  WITH CHECK ADD  CONSTRAINT [FK_TB_CIDADE_TB_ESTADO] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TB_ESTADO] ([Id])
GO
ALTER TABLE [dbo].[TB_CIDADE] CHECK CONSTRAINT [FK_TB_CIDADE_TB_ESTADO]
GO
ALTER TABLE [dbo].[TB_ESTADO]  WITH CHECK ADD  CONSTRAINT [FK_TB_ESTADO_TB_PAIS] FOREIGN KEY([IdTB_PAIS])
REFERENCES [dbo].[TB_PAIS] ([Id])
GO
ALTER TABLE [dbo].[TB_ESTADO] CHECK CONSTRAINT [FK_TB_ESTADO_TB_PAIS]
GO
